body
{
background-position: center;
background-size:50%;
background-color:black;
background-image:url('bg.jpg');
-webkit-transition: background 6s; /* For Safari 3.1 to 6.0 */
  transition: background 6s;
background-position:center;
background-repeat:no-repeat;
}
::selection {
    color: white;
    background: #2e79a7;
}
div.container
{
  top:0;
  left:0;
  position:absolute;
  width:100%;
  height:100%;
  padding:0;
}
div.navdock
{
background-color:rgba(0, 0, 0, 0.88);
top:0;
right:0;
margin-right:0;
float:right;
height:100%;
width:45%;

}
div.navtab
{
  width:100%;
  margin-right:0;
  height:20%;
  margin-top:40%;
}
div.maindock
{
top:0;
right:0;
margin-left:0;
float:left;
height:100%;
width:55%;
background-color:rgba(0, 0, 0, 0.86);
}
div.maintab,.playground,.resume,.blog,.sayhi
{
  width:30%;
  top:20%;
  height:30%;
  visibility:hidden;
  position:absolute;
}
p
{
  font-family:"Calibri";
  color:white;

}
ul
{
  overflow:hidden;
  list-style-type:none;
  text-decoration:none;
  margin:0;
  padding:0;
  height:100%:
  width:100%;
}
li a
{
  font-family:"Royal Crescent";
  color:white;
  padding:2% 1%;
  width:100%;
  height:25%;
  display:block;
  -webkit-transition: background 0.3s; /* For Safari 3.1 to 6.0 */
    transition: background 0.3s;
  text-decoration:none;
  font-size:25px;
}
li a:hover
{
  -webkit-transition: background 0.3s; /* For Safari 3.1 to 6.0 */
    transition: background 0.3s;
    background:#2e79a7; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, black,#2e79a7); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, black,#2e79a7); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, black,#2e79a7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, black,#2e79a7); /* Standard syntax */

}

h1.name
{
  font-family:"Royal Crescent";
  color:white;
  margin-top:70%;
  margin-right:9%;
  font-size:45px;
}
